<% include layout/sidebar %>
<% include layout/header %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
    <script>

        $(document).ready(function(){

          console.log("******"+userID.innerHTML);

            var user_id=userID.innerHTML;
            var iosocket = io.connect();
            iosocket.emit('join', {user_id:user_id});

            iosocket.on('notification',function(data){
              alert(data);
            })
            // function () {
            //     console.log("connected");
            // });
        });
    </script>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Latest Orders</h4>
                                <p class="category">Bla bla bla blaaaa</p>
                            </div>
                            <div class="content">
                                <div class="ct-chart ct-perfect-fourth">
                                  <% for(var i=0; i < row.length; i++) { %>
                                    <% if (row[i].order_status == "waiting"){ %>
                                      <p><a class="latest" id="<%= row[i].order_id %>" href="/order_details?order_id=<%=row[i].order_id%>"><%= row[i].meal_type %> on <%= row[i].order_time %> </a></p>
                                    <% } %>
                                    <% } %>
                                </div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i>
                                        <i class="fa fa-circle text-danger"></i>
                                        <i class="fa fa-circle text-warning"></i>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Friends Activities</h4>
                            </div>
                            <div class="content">
                                <div class="ct-chart">
                                  <% for(var i=0; i < row.length; i++) { %>
                                    <p><a id='<%= row[i].owner_id %>'><%= row[i].user_name %></a> has created an order for <%= row[i].meal_type %> from <%= row[i].resturant %></p>
                                    <% } %>
                                </div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i>
                                        <i class="fa fa-circle text-danger"></i>
                                        <i class="fa fa-circle text-warning"></i>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script>
          $(function(){
            $(".latest").click(function(event){
              order_id=$(this).attr('id');
              console.log(order_id);
              $.ajax({
                url:"http://localhost:8080/order_details",
                method:"get",
                data:{order_id:parseInt(order_id)},
                success:function(response){
                  console.log("success");
                  console.log(response);
                },
                error:function(error){
                  console.log(error);
                }
              });
            });
          });
        </script> -->
<% include layout/footer %>
