<% include layout/sidebar %>
<% include layout/header %>

<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      <div style="margin-bottom:10px; padding-left:85%;">
                        <a href="/new_order" class="btn btn-round btn-fill btn-info">Start New Order</a>
                      </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Orders</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table id="order_tb" class="table table-striped">
                                    <thead>
                                      <th>Order</th>
                                      <th>Restaurant</th>
                                      <th>Invited</th>
                                      <th>Joined</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                    </thead>
                                    <tbody>

                                        <% for(var i=0; i < orders.length; i++) { %>

                                          <tr id="cancel<%= orders[i].order_id %>">
                                            <td><%= orders[i].order_id %></td>

                                            <td><%= orders[i].meal_type %></td>
                                            <td><%= orders[i].resturant %></td>
                                            <td>10</td>
                                            <td>5</td>
                                            <td><span class="replaceme<%= orders[i].order_id %>"><%= orders[i].order_status %></td>
                                            <td>


                                              <a class="view" value="<%= orders[i].order_id %>" id="view<%= orders[i].order_id%>" href="/order_details?order_id=<%=orders[i].order_id%>">view</a>
                                              <% if (orders[i].order_status == "waiting"){ %>
                                                <a class="finish" value="<%= orders[i].order_id %>" id="finish<%= orders[i].order_id%>">finish</a>
                                                <a class="cancel" value="<%= orders[i].order_id %>" id="cancel<%= orders[i].order_id%>">cancel</a>
                                              <% } %>
                                          </td>
                                          </tr>
                                            <% } %>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>

          $(function(){
<<<<<<< HEAD
            var longPolling=function(){
            $.ajax({
              url:"http://localhost:8090/orders",
              method:"GET",
              success:function(response) {
                //console.log(response);
              },
              complete: function(){
                  longPolling()
              },
              timeout: 30000,
              error:function() {
                //console.log(err);
              }
            });
          }
=======
>>>>>>> 9ee8dde71d4ffe69d54591154d8983d0e90b0fe2

            $(".finish").click(function(event){
              console.log("HEYYYYYY");
              order_id=$(this).attr('value');
              console.log(order_id);
              $.ajax({
                url:"http://localhost:8090/orders",
                method:"put",
                data:{order_id:parseInt(order_id)},
                success:function(response){
                  console.log("success");
                  if(response.message=="finish"){
                    //$(this).remove();
                    $(".replaceme"+response.order_id).html("finished");
                    $("#finish"+response.order_id).remove();
                    $("#cancel"+response.order_id).remove();
                  }
                },
                error:function(error){
                  console.log(error);
                }
              });
            });

            $(".cancel").click(function(event){
              console.log("HEYYYYYY");
              order_id=$(this).attr('value');
              console.log(order_id);
              $.ajax({
                url:"http://localhost:8090/orders",
                method:"delete",
                data:{order_id:parseInt(order_id)},
                success:function(response){
                  if(response.message=="cancel"){
                    $('table#order_tb tr#cancel'+response.order_id).remove();
                  }
                },
                error:function(error){
                  console.log(error);
                }
              });
            });
          });
        </script>
<% include layout/footer %>
