<% include layout/sidebar %>
<% include layout/header %>
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      <div style="margin-bottom:10px; padding-left:85%;">
                        <a href="/new_order" class="btn btn-round btn-fill btn-info">Start New Order</a>
                      </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Orders</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                      <th>Order</th>
                                      <th>Restaurant</th>
                                      <th>Invited</th>
                                      <th>Joined</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                    </thead>
                                    <tbody>

                                        <% for(var i=0; i < orders.length; i++) { %>
                                          <tr>
                                            <td><%= orders[i].meal_type %></td>
                                            <td><%= orders[i].resturant %></td>
                                            <td>10</td>
                                            <td>5</td>
                                            <td><%= orders[i].order_status %></td>
                                            <td>
                                              <a class="view" id="<%= orders[i].order_id%>" href="/order_details?order_id=<%=orders[i].order_id%>">view</a>
                                              <a class="finish" id="<%= orders[i].order_id%>">finish</a>
                                              <a>cancel</a>
                                            </td>
                                          </tr>
                                            <% } %>

                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
          $(function(){
            // $.ajax({
            //   url:"http://localhost:8090/orders",
            //   method:"GET",
            //   success:function(response) {
            //     //console.log(response);
            //   },
            //   error:function() {
            //     //console.log(err);
            //   }
            // });

            $(".finish").click(function(event){
              console.log("HEYYYYYY");
              order_id=$(this).attr('id');
              console.log(order_id);
              $.ajax({
                url:"http://localhost:8090/orders",
                method:"put",
                data:{order_id:parseInt(order_id)},
                success:function(response){
                  console.log("success");
                },
                error:function(error){
                  console.log(error);
                }
              });
            });
          });
        </script>
<%include layout/footer %>
