<% include layout/sidebar %>
<% include layout/header %>
	<div class="data-container">
		<h2>Order Details</h2>
		<table id="order-data" class="table table-striped">
			<tr>
				<th>Person</th>
				<th>Item</th>
				<th>Amount</th>
				<th>Price</th>
				<th>Comment</th>
			</tr>
			<% for(var i=0; i < order_data.length; i++) { %>
			<tr>
				<td><%= order_data[i].user_name %></td>
				<td><%= order_data[i].item %></td>
				<td><%= order_data[i].amount %></td>
				<td><%= order_data[i].price %></td>
				<td><%= order_data[i].comment %></td>
			</tr>
			<% } %>
		</table> <br> <br>
		<form action="" method="post">
			<table class="table table-striped">
				<tr>
					<th>Item</th>
					<th>Amount</th>
					<th>Price</th>
					<th>Comment</th>
				</tr>
				<tr>
					<td><input type="text" id="order-item"  name="order-item"></td>
					<td><input type="number" id="item-amount" name="item-amount" style="width: 50px"></td>
					<td><input type="number" id="item-price" name="item-price" style="width: 50px"></td>
					<td><input type="text" id="comment" name="comment"></td>
					<td><input type="submit" value="Add" name="<%= order_data[0].order_id %>" class="add" id="<%= order_data[0].order_id %>"></td>
				</tr>
			</table>
		</form>
	</div>
	<div class="notification-container">
		<div id="friends-details" class="friends-details">
			<a href="#" id="invited-friends">10 friends invited, click to view</a> <br> <br>
			<a href="#" id="joined-friends">5 friends joined, click to view</a>
		</div>
		<div id="invited-modal" class="modal">

		  <div class="modal-content">
		    <div class="modal-header">
		      <span class="close">&times;</span>
		    </div>
		    <div class="modal-body">
		      <ul>
		      	<li>Ahmed Ali</li>
		      	<li>Ahmed Ali</li>
		      </ul>
		    </div>
		  </div>

		</div>
		<div id="joined-modal" class="modal">

		  <div class="modal-content">
		    <div class="modal-header">
		      <span class="close">&times;</span>
		    </div>
		    <div class="modal-body">
		      <ul>
		      	<li>Ahmed Ali</li>
		      	<li>Ahmed Ali</li>
		      </ul>
		    </div>
		  </div>

		</div>
	</div>

	<script>

	  var invited_modal = document.getElementById('invited-modal');
		var joined_modal = document.getElementById('joined-modal');
		var invited_friends = document.getElementById("invited-friends");
		var joined_friends = document.getElementById('joined-friends');
		var span = document.getElementsByClassName("close")[0];

		invited_friends.onclick = function() {
		    invited_modal.style.display = "block";
		}

		joined_friends.onclick = function() {
		    joined_modal.style.display = "block";
		}

		span.onclick = function() {
		    invited_modal.style.display = "none";
		    joined_modal.style.display = "none";
		}

		window.onclick = function(event) {
		    if (event.target == invited_modal) {
		        invited_modal.style.display = "none";
		    }
		    else if (event.target == joined_modal) {
		    	joined_modal.style.display = "none";
		    }
		}
		//<td><input type="text" id="order-item"  name="order-item"></td>
		// <td><input type="number" id="item-amount" name="item-amount" style="width: 50px"></td>
		// <td><input type="number" id="item-price" name="item-price" style="width: 50px"></td>
		// <td><input type="text" id="comment" name="comment"></td>
		$(function(){
			$(".add").click(function(event){
				console.log("i'm heeeeeeeeeeeeeeeeeeeeeeeere");
				event.preventDefault();
				order_item=$('#order-item').val();
				item_price=$('#item-price').val();
				item_amount=$('#item-amount').val();
				comment=$('#comment').val();
				order_id=$(this).attr('name');
				console.log("*******************add btn");
				console.log(order_id);
				console.log(item_amount);
				console.log(item_price);
				console.log(comment);
				console.log(order_item);

				$.ajax({
					url:"http://localhost:8090/order_details",
					method:"POST",
					data:{
						order_item:order_item,
						item_price:parseInt(item_price),
						item_amount:parseInt(item_amount),
						comment:comment,
						order_id:parseInt(order_id)
							},
					success:function(response){
						var resault=$.trim(response.message);
						if(resault=="order_details"){
							console.log(response.items)
							$("#order-data > tbody:last-child").append("<tr><td>"+response.user_name+
																										"</td><td>"+response.items.item+
																										"</td><td>"+response.items.amount+
																										"</td><td>"+response.items.price+
																										"</td><td>"+response.items.comment+"</td></tr>");
						}
						console.log("success");
					},
					error:function(error){
						console.log("error");
					}
				});
			});//end of add click
		});//end of function
	</script>
<%include layout/footer %>
