<% include ./config.ejs %>
<script>
    $(document).ready(function(){
        var not_no = $("#my-notifications li").length
        $("#notifications-no").html(not_no);
    });
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
    <script>
        var iosocket = io.connect();
        var room = "";
        var owner_id = 0;
        $(document).ready(function(){

          $("#joinorder").click(function(){
            console.log("ROOM ",room);
            
            console.log(room);
            iosocket.emit('join order', {msg:'hellohellohello',owner_id:owner_id,room:room,user_id:user_id});
          });
          console.log("******"+userID.innerHTML);

            var user_id=userID.innerHTML;
            //var iosocket = io.connect();
            iosocket.emit('join', {user_id:user_id});

            iosocket.on('notification',function(data){
             // alert(data);
            room = data.room;
            owner_id = data.owner_id;
              demo.showNotification('top','right',data.msg);
              var not_no = $("#my-notifications li").length
              $("#notifications-no").html(not_no);
              $("#my-notifications").append('<li><a href="#">'+data+'</a></li>')
            });

            iosocket.on('friend joined', function(data) {
                console.log('Incoming message:', data.room);
                demo.showNotification('top','right',data.room);
            });

            iosocket.on('connectToOrder',function(data){
                alert(data);
            });

            // function () {
            //     console.log("connected");
            // });
        });
    </script>
<div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#"><%= title %></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/user">
                                <img width="30" height="30" src="<%= avatar %>" />
                                <p id="user-name"><%= username %> </p>
                                  <p id="userID"><%= userID %> </p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    <p id="notifications-no" class="notification"></p>
                  <p></p>
                  <b class="caret"></b>
                              </a>
                              <ul id="my-notifications" class="dropdown-menu">
                                <% for(var i = row.length-1; i >= 0; i--) { %>
                                    <% if (row[i].notified_id == userID){ %>
                                        <li>  <a><%= row[i].notifier_name %> has invited you to order <a id="joinorder">Join</a></a></li>
                                    <% } else{ %>
                                    <% } %>
                                    <% } %>
                              </ul>
                        </li>
            <li>
                            <a href="/logout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
